<form class="formwidth" (ngSubmit)="onSubmit()" #PatientEditComponent="ngForm">

  <mat-card class="patient-edit">
    <mat-card-header>
      <mat-card-title>Edit patient</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field>
        <input matInput type="text" class="form-control" required [(ngModel)]="model.name" placeholder="Name"
          name="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" class="form-control" required [(ngModel)]="model.treatment" placeholder="Treatment"
          name="treatment">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" class="form-control" required [(ngModel)]="model.demographics"
          placeholder="Demographics" name="demographics">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" class="form-control" required [(ngModel)]="model.allergies" placeholder="Allergies"
          name="allergies">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" class="form-control" required [(ngModel)]="model.name" placeholder="Name"
          name="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" class="form-control" required [(ngModel)]="model.treatment" placeholder="Treatment"
          name="treatment">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" class="form-control" required [(ngModel)]="model.demographics"
          placeholder="Demographics" name="demographics">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" class="form-control" required [(ngModel)]="model.allergies" placeholder="Allergies"
          name="allergies">
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="model.blood_type" required name="blood_type" placeholder="Blood type">
          <mat-option value="AB+">AB+</mat-option>
          <mat-option value="AB-">AB-</mat-option>
          <mat-option value="A+">A+</mat-option>
          <mat-option value="A-">A-</mat-option>
          <mat-option value="B+">B+</mat-option>
          <mat-option value="B-">B-</mat-option>
          <mat-option value="O+">O+</mat-option>
          <mat-option value="O-">O-</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <textarea matInput name="diagnosis" required [(ngModel)]="model.diagnosis" placeholder="Diagnosis"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" class="form-control" placeholder="Weight" required [(ngModel)]="model.weight"
          name="weight">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select sex" required [(ngModel)]="model.sex" name="sex">
          <mat-option [value]="'male'">Male</mat-option>
          <mat-option [value]="'female'">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" class="form-control" placeholder="Age" required [(ngModel)]="model.age" name="age">
      </mat-form-field>

      <!-- room + beds -->
      <mat-form-field>
        <mat-select required placeholder="Room and Bed" [(ngModel)]="model.bed_id" name="bed_id">
          <mat-option [value]="''">None</mat-option>
          <mat-optgroup *ngFor="let room of rooms" [label]="'Room '+room.number">
            <mat-option *ngFor="let bed of room.beds" [value]="bed.id">
              Bed {{bed.number}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <img *ngIf="model.patient_image" [(src)]="model.patient_image" width="150" />
      <input type="file" mat-raised-button (change)="handleFileInput($event.target.files)" required
        name="patient_image" />

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">Update</button>
    </mat-card-actions>
  </mat-card>
</form>