<mat-card class="patients">

  <mat-card-header>
    <mat-card-title>Patients</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="treatment">
        <th mat-header-cell *matHeaderCellDef> Treatment </th>
        <td mat-cell *matCellDef="let element"> {{element.treatment}} </td>
      </ng-container>


      <ng-container matColumnDef="allergies">
        <th mat-header-cell *matHeaderCellDef> Allergies </th>
        <td mat-cell *matCellDef="let element"> {{element.allergies}} </td>
      </ng-container>


      <ng-container matColumnDef="demographics">
        <th mat-header-cell *matHeaderCellDef> Demographics </th>
        <td mat-cell *matCellDef="let element"> {{element.demographics}} </td>
      </ng-container>


      <ng-container matColumnDef="blood_type">
        <th mat-header-cell *matHeaderCellDef> Blood Type </th>
        <td mat-cell *matCellDef="let element"> {{element.blood_type}} </td>
      </ng-container>


      <ng-container matColumnDef="diagnosis">
        <th mat-header-cell *matHeaderCellDef> Diagnosis </th>
        <td mat-cell *matCellDef="let element"> {{element.diagnosis}} </td>
      </ng-container>


      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>


      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef> Sex </th>
        <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
      </ng-container>


      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <a mat-raised-button color="primary" href="/patients/edit/{{ element._id }}">Edit</a>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>