<mat-card *ngFor="let room of viewrooms">
  <mat-card-title>Room {{room.number}}</mat-card-title>
  <mat-card-content>
    <mat-card *ngFor="let bed of room.beds">
      <mat-card-content>
        Bed {{bed.number}}
        <span *ngIf="bed.patient !== null">:
          {{bed.patient.name}} <a mat-raised-button color="primary" href="/patients/edit/{{ bed.patient._id }}">Edit</a>
        </span>
        <span *ngIf="bed.patient === null">
          <a mat-raised-button color="primary" href="/patients/new/{{ bed.id }}">Assign</a>
        </span>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
<div layout="row" layout-align="center center" *ngIf="!viewrooms.length">
  <br /><br /><br />
  <mat-spinner style="margin:0 auto;"></mat-spinner>
</div>